body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*#menu
{
    z-index: 1;
}*/

#hamburger
{
	box-sizing: border-box;
	display: block;
	width: 70px;
	height: 45px;
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 4;
    /*background: #5BC5FF;
	border-bottom: 1px solid rgba( 255, 255, 255, 0.5 );
	opacity: 0.9;
	width: 100%;
	top: 0;*/
}
#hamburger:before,
#hamburger:after,
#hamburger span
{
	background: #ccc;
	content: '';
	display: block;
	width: 30px;
	height: 5px;
	position: absolute;
	left: 20px;
}
#hamburger:before
{
	top: 10px;
}
#hamburger span
{
	top: 20px;
}
#hamburger:after
{
	top: 30px;
}

/* Hamburger animation */
#hamburger:before,
#hamburger:after,
#hamburger span
{
	-webkit-transition: none 0.5s ease 0.5s;
	transition: none 0.5s ease 0.5s;

	-webkit-transition-property: transform, top, bottom, left, opacity;
	transition-property: transform, top, bottom, left, opacity;
}

html.mm-opening #hamburger:before,
html.mm-opening #hamburger:after
{
	top: 20px;
}
html.mm-opening #hamburger span
{
	left: -50px;
	opacity: 0;
}
html.mm-opening #hamburger:before
{
	transform: rotate( 45deg );
}
html.mm-opening #hamburger:after
{
	transform: rotate( -45deg );
}

/*blur content*/
#mm-blocker
{
	background: rgba( 0, 0, 0, 0 );
}
.mm-opening #mm-blocker
{
	background: rgba( 0, 0, 0, 0.2 );
	transition: background 1s ease 0.3s;
}

/*Navigation Menu*/
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}

@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}

.navbar {
    color: #5BC5FF;
    background-color: #5BC5FF;
    border-color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-toggle:focus {
    background-color: #ccc !important;
}

.navbar-inverse .navbar-toggle {
    border-color: #ccc;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #838383;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #ccc;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}

/*Navigation Drop Down*/
/*!
 * Bootstrap-submenu v1.2.7 (http://vsn4ik.github.io/bootstrap-submenu)
 * Copyright 2014 Vasily A. (https://github.com/vsn4ik)
 * Licensed under MIT (https://github.com/vsn4ik/bootstrap-submenu/blob/master/LICENSE)
 */

/*!
 * Bootstrap-submenu v2.0.3 (https://vsn4ik.github.io/bootstrap-submenu/)
 * Copyright 2015 Vasily A. (https://github.com/vsn4ik)
 * Licensed under the MIT license
 */

.dropdown-submenu > a:after {
  content: "";
}
@media (min-width: 768px) {
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    border-top-left-radius: 0;
  }
  .dropup .dropdown-submenu .dropdown-menu,
  .navbar-fixed-bottom .dropdown-submenu .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0;
  }
  .dropdown-menu-right .dropdown-submenu .dropdown-menu,
  .navbar-right .dropdown-submenu .dropdown-menu {
    left: auto;
    right: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
  }
  .dropup .dropdown-menu-right .dropdown-submenu .dropdown-menu,
  .dropup .navbar-right .dropdown-submenu .dropdown-menu,
  .navbar-fixed-bottom .dropdown-menu-right .dropdown-submenu .dropdown-menu,
  .navbar-fixed-bottom .navbar-right .dropdown-submenu .dropdown-menu {
    border-radius: 4px 4px 0;
  }
  .dropdown-submenu > a:after {
    float: right;
    margin-top: 6px;
    margin-right: -10px;
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
  .dropdown-menu-right .dropdown-submenu > a:after,
  .navbar-right .dropdown-submenu > a:after {
    float: left;
    border-left: none;
    margin-left: -10px;
    margin-right: 0;
    border-right: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
}
@media (max-width: 767px) {
  .dropdown-submenu .dropdown-menu {
    position: static;
    margin-top: 0;
    border: 0;
    box-shadow: none;
  }
  .dropdown-submenu > a:after {
    margin-left: 6px;
    display: inline-block;
    vertical-align: middle;
    border-top: 4px dashed;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #fff;
  }
  .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
      color: #666666;
  }
  .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li.dropdown-header,
  .dropup > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li.dropdown-header,
  .btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li.dropdown-header,
  .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a,
  .dropup > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a,
  .btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a {
    padding-left: 30px;
  }
  .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
  .dropup > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
  .btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
  .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > a,
  .dropup > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > a,
  .btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > a {
    padding-left: 40px;
  }
  .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
  .dropup > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
  .btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
  .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a,
  .dropup > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a,
  .btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a {
    padding-left: 50px;
  }
  .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
  .dropup > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
  .btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
  .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a,
  .dropup > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a,
  .btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a {
    padding-left: 60px;
  }
  .navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li.dropdown-header,
  .navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a {
    padding-left: 35px;
  }
  .navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
  .navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > a {
    padding-left: 45px;
  }
  .navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
  .navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a {
    padding-left: 55px;
  }
  .navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
  .navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a {
    padding-left: 65px;
  }
}
/*# sourceMappingURL=bootstrap-submenu.css.map */

/*iosOverlay*/
.ui-ios-overlay {
  z-index: 99999;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
  background: rgba(0,0,0,0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.ui-ios-overlay .title {
  color: #FFF;
  font-weight: bold;
  text-align: center;
  display: block;
  font-size: 26px;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
.ui-ios-overlay img {
  display: block;
  margin: 20% auto 0 auto;
}
.ui-ios-overlay .spinner {
  left: 50% !important;
  top: 40% !important;
}

.ios-overlay-show {
  -webkit-animation-name: ios-overlay-show;
  -webkit-animation-duration: 750ms;
  -moz-animation-name: ios-overlay-show;
  -moz-animation-duration: 750ms;
  -ms-animation-name: ios-overlay-show;
  -ms-animation-duration: 750ms;
  -o-animation-name: ios-overlay-show;
  -o-animation-duration: 750ms;
  animation-name: ios-overlay-show;
  animation-duration: 750ms;
}

@-webkit-keyframes ios-overlay-show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes ios-overlay-show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes ios-overlay-show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes ios-overlay-show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes ios-overlay-show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.ios-overlay-hide {
  -webkit-animation-name: ios-overlay-hide;
  -webkit-animation-duration: 750ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: ios-overlay-hide;
  -moz-animation-duration: 750ms;
  -moz-animation-fill-mode: forwards;
  -ms-animation-name: ios-overlay-hide;
  -ms-animation-duration: 750ms;
  -ms-animation-fill-mode: forwards;
  -o-animation-name: ios-overlay-hide;
  -o-animation-duration: 750ms;
  -o-animation-fill-mode: forwards;
  animation-name: ios-overlay-hide;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
}

@-webkit-keyframes ios-overlay-hide {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes ios-overlay-hide {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-ms-keyframes ios-overlay-hide {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes ios-overlay-hide {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes ios-overlay-hide {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/*Loading*/
.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:1030;
    display:block;
}

/*jquery validation*/
.input-validation-error {
    border-color: red;
}